.form-cambiar-contrasenia {
  display: grid;
  grid-template-areas:
    "antigua"
    "nueva"
    "confirmar"
    "botton";
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.form-cambiar-contrasenia label {
  margin-bottom: 5px;
}

.form-cambiar-contrasenia input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.antigua,
.nuevaContrasenia,
.ConfirmarContrasenia {
  display: flex;
  flex-direction: column;
}

.enviar-contasenia {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.enviar-contasenia button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.enviar-contasenia button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.titulo {
  background-color: black;
  color: white;
  text-align: center;
}

/* Media Query para dispositivos con ancho máximo de 600px */
@media (max-width: 600px) {
  .form-cambiar-contrasenia {
    grid-template-areas:
      "antigua"
      "nueva"
      "confirmar"
      "botton";
  }

  .enviar-contasenia button {
    width: auto;
  }
}
