/* Footer.css */

.footer-seccion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
  }
  
  .footer-direccion,
  .footer-titulo,
  .footer-redes {
    text-align: center;
  }
  
  .footer-direccion {
    flex: 1;
  }
  
  .footer-direccion i {
    font-size: 24px;
  }
  
  .footer-titulo h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-redes {
    flex: 1;
  }
  
  /* Media Query para dispositivos con ancho máximo de 768px */
  @media screen and (max-width: 768px) {
    .footer-seccion {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-direccion,
    .footer-titulo,
    .footer-redes {
      margin-bottom: 20px;
    }
  }
  